{% extends "admin/main_page.html" %}
{% block title %}Admin - OP{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='fullcalendar-5.10.2/lib/main.min.css') }}" >
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-5 order-lg-2">
        <div id="calendar"></div>
    </div>
    <div class="col-lg-7 order-lg-1">
        <img src="{{ url_for('static', filename='pictures/logo.svg') }}" alt="logo školy" class="d-block img-fluid" width="1000px">
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script rel="script" src="{{ url_for('static', filename='fullcalendar-5.10.2/lib/main.min.js') }}"></script>
    <script rel="script" src="{{ url_for('static', filename='fullcalendar_config.js') }}"></script>
{% endblock %}